<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3> Student Registration Form </h3>
<br>
<br>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <label>
        <input type="text" name="firstName" th:field="*{firstName}"
               placeholder="First Name"/>
    </label>
    <br>
    <br>
    <label>
        <input type="text" name="lastName" th:field="*{lastName}"
               placeholder="Last Name"/>
    </label>
    <br>
    <br>

    Country:

    <label>
        <select th:field="*{country}">
            <option th:value="India-Default">Select Country</option>
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
    </label>

    <br>
    <br>
    Select Language:
    <label>
        <input type="radio" th:value="${temp}" th:field="*{lang}" th:each="temp : ${lang}" th:text="${temp}" />
    </label>
    <br>
    <br>
    <input type="submit"/>
</form>
</body>
</html>